---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directories:
      - "**/javascript"
      - "**/sub-app-1"

    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    schedule:
      interval: "weekly"

    commit-message:
      prefix: "[DEPENDABOT]"

  - package-ecosystem: bundler
    directory: "/ruby"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directories:
      - "python"
    schedule:
      interval: "daily"
      time: "08:00"
      timezone: "America/Santiago"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "[DEPENDABOT - uv]"
    cooldown:
      default-days: 7
